<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857353235946-9cfedm5f60nalbpdulcaagng63s2ipcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857353235946-9cfedm5f60nalbpdulcaagng63s2ipcm</string>
	<key>API_KEY</key>
	<string>AIzaSyCWIeJSLcw3of_DnR66UuIikGMXp6Lb-n4</string>
	<key>GCM_SENDER_ID</key>
	<string>857353235946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGetxWithFirebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-with-firebase-43651</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-with-firebase-43651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857353235946:ios:fff244fb2d03b9c807d693</string>
</dict>
</plist>